@model LabDomain.Model.Publication

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Publication</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PublicationId" class="control-label"></label>
                <input asp-for="PublicationId" class="form-control" />
                <span asp-validation-for="PublicationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublicationDate" class="control-label"></label>
                <input asp-for="PublicationDate" class="form-control" />
                <span asp-validation-for="PublicationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Views" class="control-label"></label>
                <input asp-for="Views" class="form-control" />
                <span asp-validation-for="Views" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subject" class="control-label"></label>
                <select asp-for="Subject" class ="form-control" asp-items="ViewBag.Subject"></select>
            </div>
            <div class="form-group">
                <label asp-for="PublicationType" class="control-label"></label>
                <select asp-for="PublicationType" class ="form-control" asp-items="ViewBag.PublicationType"></select>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <select asp-for="Author" class ="form-control" asp-items="ViewBag.Author"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

